@model Candidate

<div class="container">


 <h1 class="text-center">Apply</h1>

<form asp-action="Apply" method="post">
  <div class="text-danger" asp-validation-summary="All"></div>
  <div class="form-group mb-2">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control">
  </div>

  <div class="form-group mb-2">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control">
  </div>

  <div class="form-group mb-2">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control">
  </div>


  <div class="form-group mb-2">
    <label asp-for="Age"></label>
    <select  id="" asp-for="Age" class="form-select">
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
    </select>
  </div>
 <div>
    <fieldset>
        <legend>Select one Course</legend>
        <p>
        
            <input type="radio" asp-for="SelectedCourse" id="mvc" value="ASP.NETCORE MVC" checked>
           <label for="mvc">Asp.net core Mvc</label>
        </p>
        <p>

            <input type="radio" asp-for="SelectedCourse"  id="api" value="ASP.NETCORE api" >
           <label for="api">Asp.net core api</label>
        </p>
        <p>

            <input type="radio" asp-for="SelectedCourse"  id="blazor" value="Blazor" >
           <label for="blazor">blazor</label>
        </p>
    </fieldset>

  
    <button type="submit" class="btn btn-primary">Apply</button>

  <a asp-controller="Home" asp-action="Index" class="btn btn-warning ">home</a>

 </div>
</form>
</div>