@model Candidate

<div class="container">


 <h1 class="text-center">Apply</h1>

<form action="/course/apply" method="post">
  <div class="form-group mb-2">
    <label for="">Email</label>
    <input name="Email" class="form-control">
  </div>

  <div class="form-group mb-2">
    <label for="">FirstName</label>
    <input name="FirstName" class="form-control">
  </div>

  <div class="form-group mb-2">
    <label for="">LastName</label>
    <input name="LastName" class="form-control">
  </div>


<div class="form-group mb-2">
    <label for="">Age</label>
    <select name="Age" id="" class="form-control">
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
    </select>
  </div>
 <div>
    <fieldset>
        <legend>Select one Course</legend>
        <p>

            <input type="radio" name="SelectedCourse" id="mvc" value="ASP.NETCORE MVC" >
           <label for="mvc">Asp.net core Mvc</label>
        </p>
        <p>

            <input type="radio" name="SelectedCourse" id="api" value="ASP.NETCORE api" >
           <label for="api">Asp.net core api</label>
        </p>
        <p>

            <input type="radio" name="SelectedCourse" id="blazor" value="Blazor" >
           <label for="blazor">blazor</label>
        </p>
    </fieldset>


    <button type="submit" class="btn btn-primary">Apply</button>

  <a href="/home" class="btn btn-warning ">home</a>

 </div>
</form>
</div>