@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BtkAkademi</h1>
    <a asp-controller="Course" asp-action="Apply" class="btn btn-primary">Apply</a>
</div>
